#widget-booster .widget-booster-button {
    margin: 20px auto;
    display: block;
    padding: 5px 20px;
}

#widget-booster #widget-booster-action-response span{
    display: none;
}

#widget-booster #widget-booster-action-response {
    text-align: center;
    font-size: 14px;
}

#widget-booster #widget-booster-action-response.success #success {
    display: block;
    color: green;
}

#widget-booster #widget-booster-action-response.failure #failure {
    display: block;
    color: red;
}
