#widget-booster {
    .widget-booster-container {
        text-align: center;
    }

    .widget-booster-button {
        margin: 20px auto;
        display: inline-block;
        padding: 8px 20px;
    }

    .widget-booster-button:not(.red):disabled {
        opacity: 1;
    }

    #widget-booster-action-response {
        display: none;
        text-align: center;
        font-size: 14px;
    }

    #widget-booster-action-response.visible {
        display: block;
    }

    #widget-booster-action-response.success {
        display: block;
        color: green;
    }

    #widget-booster-action-response.failure {
        display: block;
        color: red;
    }

    #widget-booster-confirmation-dialog {
        display: none;
        text-align: left;
    }

    #widget-booster-confirmation-dialog.visible {
        display: flex;
        background-color: rgb(0, 0, 0, 0.5);
        backdrop-filter: blur(2px);

        .confirmation-dialog {
            display: block;
        }
    }

    .widget-booster-container.license-valid {
        #widget-booster-license-invalid {
            display: none;
        }
    }

    .widget-booster-container.license-invalid {
        h6 {
            margin-top: 10px;
        }
        #widget-booster-license-valid {
            display: none;
        }
    }

    #booster-license-upload-button {
        text-align: center;
        font-size: 12px;
        background-color: #2c76e9;
        color: white;
        cursor: pointer;
    }

    #license-invalid-message {
        display: none;
    }

    #license-invalid-message.visible {
        display: block;
        color: red;
        font-size: 13px;
    }

    #widget-booster-hint {
        font-style: italic;
        margin-top: 10px;
    }
}
